body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  padding-top: 120px; /* Add padding to account for the fixed header */
}

header {
  background-color: #393280;
  color: white;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.contact-info {
  font-size: 14px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #393280;

  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 70px; /* Adjust the margin as needed */
  margin-right: 20px; /* Adjust the margin as needed */
  overflow: hidden; /* Ensure the image is not displayed outside the circle */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 5px;
}

.nav-links a {
  text-decoration: none;
  color: #393280;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links .active {
  color: red;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  padding: 0 150px; /* Add a margin to the right of the icons */
}

.button-container button {
  margin: 0 10px; /* Add space between the buttons */
  border: none;
  padding: 10px 10px;
  font-size: 18px;
  background: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #ffe5e5, #ffffff);

  padding: 50px 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
  max-width: 50%;
  margin-right: 20px;
}

.hero-content h1 {
  font-size: 48px;
  color: #4a3f6d;
}

.hero-content p {
  font-size: 18px;
  color: #4a3f6d;
  line-height: 1.6;
}

.hero-content .btn,
.categories .btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white;
  color: #393280;
  border: 2px solid #393280;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.book-cover img {
  max-width: 100%;
  height: auto;
  border: none; /* Remove any border */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
}

.categories {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text horizontally */
  flex-wrap: wrap;
}

.categories h2 {
  margin-bottom: 20px; /* Add space between heading and cards */
  display: block;
  width: 100%;
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center cards horizontally */
  display: block;
}

.card {
  margin: 0 10px; /* Add space between cards */
  max-width: 200px; /* Set a maximum width for each card */
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
}

button:hover {
  background-color: #594c80;
}

footer {
  background-color: #393280;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.company-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
